body {
    background: linear-gradient(rgb(255, 251, 213) 11.2%,
            rgb(177, 28, 58) 90.2%);
    color: white;
}
.content {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
  
}

h1 {
    color: #722f37;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 38px;
    font-weight: 900;
    padding: 5px;
    line-height: 2.0;
    border-radius: 4px;
}

h2 {
    color: #4a141a;
    text-align: center;
    font-size: 24px;
    border: 1px solid #722f37;
    padding: 15px;
    border-radius: 6px;
    line-height: 1.5;
    padding-bottom: 10px;
}

h3 {
color: black;
font-size: 24px;

}

ol {
    color: black;
    font-size: 24px;
    
}

.first-photo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    
    padding-top: 20px;
}

p {
    text-align: center;
    margin: 20px 0 20px;
    line-height: 1.5;
    font-size: 18px;
}

.main {
    padding: 20px;
     text-align: center;
    margin: 10px 0 10px;
    line-height: 1.8;
    font-size: 20px;
}
button {
    display: block;
    margin: 20px auto;
    color: #FFFBD5;
    background: #218838;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 5px 6px 10px hsla(342, 25%, 92%, 0.232);
    transition: all 200ms ease-in-out;
    padding: 10px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
    color: #218838;
    background: #FFFBD5;
}
.acquire-button {
    text-decoration: none;
    margin-top: 10px;
}
.more-info {
    color: blue;
    display: block;
    margin-top: 15px;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.more-info:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding-top: 40px;
}

.footer-link {
    text-decoration: none;
    color: #F2D6BB;
}
.footer-link:hover {
    color: #594ae0;
    opacity: 0.9;
        cursor: pointer;
   
}

.home-link {
    text-decoration: none;
    color: blue;
        margin-top: 15px;
        font-weight: 400;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
}
.home-link:hover {
    text-decoration: underline;
}
.second-photo, .third-photo,
.fourth-photo {
    display: block;
        margin: 0 auto;
        max-width: 90%;
        border-radius: 8px;
}
.img-source {
    text-decoration: none;
    font-size: 16px;
    margin-left: 28px;
}